<!DOCTYPE html>
<html>
<head>
  <title>Musicstore</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


<div class="container">
  <%= link_to 'Add Song', new_music_path, :data => { :'loading-text' => 'button' } %>
  <%= yield %>
</div>

</body>
</html>
